nav .logo {
	float: none;
	text-align: center;
}

nav ul,
nav ul li {
	float: none;
}

nav ul li a {
	padding: 5px;
	border-bottom: #444 dotted 1px;
}

#showcase .showcase-content {
	padding-bottom: 30px;
	padding-top: 70px;
}

#home-info .info-img {
	display: none;
}

#home-info .info-content {
	float: none;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 50px 30px;
	overflow: hidden;
}

.box {
	float: none;
	width: 100%;
}

#about-info .info-right,
#about-info .info-left {
	float: none;
	width: 100%;
}

#about-info .info-right {
	margin-top: 30px;
}

.l-heading {
	text-align: center;
	line-height: 1.2;
}

#contact-info .box {
	border-bottom: #444 dotted 1px;
}
